@charset "utf-8"; 
.incContent {
width: 980px;
margin: 90px auto 100px;
position: relative;
padding: 0 20px;
}
element.style {
background-color: #FFF;
height: 420px;
}
.itMyUpBox {
border: 1px solid #f0f0f0;
height: auto;
overflow: hidden;
position: relative;
}
* {
margin: 0;
padding: 0;
}
user agent stylesheetdiv {
display: block;
}
.itMyPicFile {
height: 500px;

float: left;
width: 600px;
border-right: 1px solid #ededed;
text-align: center;
}
.layer .picFile{height:500px;padding-top:84px;float:left;width:350px;border-right:1px solid #ededed;text-align:center;}
 .uploadify {
position: relative;
margin-bottom: 1em;
}
.marTopbot {
margin: 21px 0;
}
.hui {
color: #7E7E7E;
}
.blue {
color: #0caceb;
}
.font14 {
font-size: 14px;
}
.marBot18 {
margin-bottom: 18px;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.itMyPicShow {
width: 280px; 
float: right;
margin-right:70px;
position: relative;
}
.itMyPicShow .tabBoxR {

padding: 0px 0 0px;
zoom: 1;
border-bottom: 1px dashed #e7e7e7;
}
.clearfix {
}
.itMyPicShow .blocks {
margin-top: 0px;
cursor: pointer;
}
.itMyPicShow .blocks {
margin-top: 0px;
cursor: pointer;
}
.itMyPicShow .blocks {
background: #0CF;
border: 1px solid #e7e7e7;
width: 16px;
height: 16px;
display: inline-block;
margin-left: 10px;
margin-top: -5px;
}
.itMyPicShow .blocks {
margin-top: 0px;
cursor: pointer;
}
.itMyPicShow .blocks {
background: #0CF;
border: 1px solid #e7e7e7;
width: 16px;
height: 16px;
display: inline-block;
margin-left: 10px;
margin-top: -5px;
}
.itMyPicShow select {
margin-top: -5px;
margin-left: 3px;
}
input, select {
vertical-align: middle;
font-family: "微软雅黑";
color: #7E7E7E;
}
float: left;
}
ul, li {
list-style-type: none;
border: none;
}
.itMyPicShow .tabBoxR .current {
background: none;
}
.itMyPicShow .tabBoxR li {
float: left;
display: inline;
margin-right: 2px;
border: 1px solid #ddd;
background: #ebebeb;
}
.clearfix:after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}
.itMyPicShow .bgbox {
width: 319px;
height: 319px;
position: relative;
margin: 10px auto;
background: url(images/picture_10.gif) no-repeat 0 0;
}
.itMyPicShow .tabBoxR {
padding: 20px 0 11px;
zoom: 1;
border-bottom: 1px dashed #e7e7e7;
}
.itMyPicShow .tabBoxR p {
float: right;
}
* {
margin: 0;
padding: 0;
}
.tit-wrap h3 {
font-size: 20px;
line-height: 30px;
color: #000;
text-indent: -20px;
}
.btn-primary {
background-color: #427ec0;
border-color: #357ebd;
color: #FFF;
font-size: 20px;
width: 124px;
height: 28px;
padding: 6px;
text-align: center;
vertical-align: middle;
line-height: 1.3;
}
.btn {
-moz-user-select: none;
display: inline-block;
background-image: none;
border-radius: 3px;
font-size: 18px;
font-weight: 400;
padding: 6px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
}